/* Mobile view styles */

/* Global styles */
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  font: normal 100% 'Inter', sans-serif;
  min-height: 100vh;
  min-width: 375px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

/* Changes start here */

.btn {
  color: #fff;
  align-items: center;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:active {
  background: #008552;
  transform: translateY(2px);
}

/* Header Styles */
.top {
  height: 48px;
}

.web-header-menu {
  display: none;
}

.mobile-header-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.mobile-header-nav ul {
  list-style: none;
  align-self: center;
}

.logo-text {
  color: #28352f;
  text-decoration: none;
  text-align: center;
  width: 90px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.fa-solid {
  font-size: 20px;
  color: #28352f;
  text-align: center;
  display: inline-block;
}

/* Nav Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c1c7cf;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal-dialog {
  position: relative;
  font-family: 'Inter', sans-serif;
  padding: 1.2em;
  width: 90%;
  height: 98vh;
  border-radius: 30px;
  background: #fff;
  overflow: auto;
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: #e9eaf1;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

header .modal.is-visible {
  visibility: visible;
  opacity: 1;
}

header .modal-dialog {
  position: relative;
  height: 100vh;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #fff;
  overflow: auto;
  cursor: default;
  margin-bottom: 2em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}

header .modal-nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
  padding-left: 2em;
}

header .web-header-link {
  text-decoration: none;
  font-family: Inter, sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #3a4a42;
}

header .close-modal {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  align-self: end;
  padding-right: 1.5em;
  font-size: 2em;
}

.top .modal-footer-image {
  margin-bottom: 0.5em;
}

/* Hero Styles */
.hero {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/hero-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content > * {
  text-align: center;
  color: #172b4d;
  margin: 24px;
}

.hero-content h1 {
  padding: 2em 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.hero-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 1em 0 3em;
}

.hero-content span {
  color: #60b47f;
}

.hero .socials {
  margin: 1em 0;
}

.socials ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-link a {
  font-size: 20px;
  color: #505f79;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  text-align: center;
}

.action {
  display: flex;
  justify-content: center;
  margin: 0.2em auto 2em;
}

.action .fa-solid {
  font-size: 25px;
  color: #172b4d;
}

/* Works section styles */

.works-header {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding-top: 1.5em;
  margin: 0 30px 0;
  background-image: url(../assets/works.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.works-wrapper {
  display: grid;
  grid-gap: 20px 20px;
  align-items: center;
}

.work-tile {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 0 1em;
}

.work-tile:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.work-image img {
  width: 100%;
  cursor: pointer;
  opacity: 0.7;
}

.work-image img:hover {
  opacity: 1;
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-tags ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social {
  margin: 6px;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
}

.work-tags a {
  text-decoration: none;
  width: 100%;
  color: #3a4a42;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.work-title {
  text-align: center;
}

.work-title h3 {
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  height: 57px;
  padding-top: 10px;
}

.work-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 20px;
}

/* Work detail modal styles */
.modal-dialog .work-image img {
  border-radius: 8px;
}

.modal-dialog .close-proj-modal {
  position: absolute;
  top: 3%;
  right: 6%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #fff;
}

.modal-dialog .project-title {
  color: #172b4d;
  font-weight: 600;
  font-size: 3em;
  line-height: 1.2em;
  padding-top: 0.5em;
  width: 80%;
}

.modal-dialog .work-tags {
  margin: 10px 0;
}

.modal-dialog .work-tags ul {
  justify-content: flex-start;
}

.modal-dialog .project-text {
  font-size: 18px;
  line-height: 34px;
  color: #344563;
  height: 50%;
  margin: 16px 0;
}

.modal-dialog .project-btn {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  margin: 10px 0;
}

.modal-dialog .btn {
  width: 48%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 6px;
}

.project-icon {
  font-size: 25px;
  margin-left: 10px;
  color: #fff;
}

/* About me styles */

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:
    url(../assets/about-top-vector.png),
    url(../assets/about-bottom-vector.png);
  background-position: top right, left bottom;
  background-repeat: no-repeat;
}

.about-content > * {
  margin: 1em 0;
}

.about-content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  height: 48px;
  color: #172b4d;
}

.about-content p {
  color: #42526e;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 0 1em;
}

.about-skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}

.about-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
}

.skill-icon {
  padding-bottom: 10px;
}

.about-skill h3 {
  color: #344563;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  padding-bottom: 50px;
}

.skill-social {
  padding: 12px;
  border-radius: 8px;
  background: #fff;
}

.skill-social a {
  color: #36b37e;
}

.modal-dialog .modal-tags a {
  font-size: 1em;
}

.modal-dialog .project-btn a {
  text-decoration: none;
  color: #fff;
}

/* Contact section styles */

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-text {
  padding: 20px;
  margin: 10px 5px;
}

.contact-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.shimmer {
  transition: transform 2s;
}

.shimmer:hover {
  transform: translate(10px);
}

.contact-form {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.contact-form input {
  margin: 10px 5px;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 327px;
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  padding: 15px 16px;
}

.contact-form textarea {
  margin: 10px 5px;
  background: #fff;
  color: #091e42;
  border: 1px solid #36b37f;
  padding: 12px;
  border-radius: 4px;
  min-width: 327px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.submit-btn {
  margin: 10px 5px;
}

/* Footer Section */
.footer {
  width: 100%;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer i {
  color: #505f79;
}

.contact-email {
  text-align: center;
}

.contact-email p {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.footer-image {
  width: 134px;
  padding-top: 10em;
  margin: 0 auto;
}

/* Tab view styles */
@media screen and (min-width: 950px) {
  .hero-content {
    background-image: none;
  }
}

/* Desktop view styles */

@media screen and (min-width: 950px) {
  /* Header Styles */
  .top {
    margin-top: 1em;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-open-menu,
  .logo-text,
  .mobile-header-nav,
  .modal {
    display: none;
  }

  .web-header-menu {
    display: flex;
    list-style-type: none;
    height: 40px;
  }

  .web-header-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    margin: 0 8px;
  }

  .web-header-menu a {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #172b4d;
    text-decoration: none;
    padding: 20px 5px;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
  }

  .close {
    display: none;
  }

  /* Hero Styles */
  .hero {
    background-image: none;
    max-width: 35%;
    margin: 0 auto;
  }

  .content {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/hero-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-content {
    margin-top: 3em;
  }

  .hero-content h1 {
    margin: 0.3em 0;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .hero-content p {
    line-height: 32px;
    padding: 0;
  }

  .action {
    margin: 2em 0;
  }

  /* Works Styles */
  .works {
    width: 100%;
  }

  .projects-wrapper {
    width: 70%;
    margin: 0 auto;
  }

  .works-header {
    padding: 1.5em 0;
    margin: 0;
    background-image: none;
  }

  .works-header img {
    display: none;
  }

  .works-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 5px;
    grid-auto-flow: row;
    grid-gap: 20px 20px;
  }

  .work-tile {
    margin: 0;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(193, 199, 208, 0.8);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }

  .modal-dialog {
    width: 55vw;
    height: 95%;
    border-radius: 5px;
    background: #fff;
    overflow: auto;
    cursor: default;
    margin: 5em;
  }

  .modal-dialog .close-proj-modal {
    position: absolute;
    top: 2%;
    right: 2%;
    background: #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 4px;
    font-size: 12px;
    padding: 6px;
    color: #67798e;
  }

  .modal-dialog .work-image {
    padding-top: 2em;
  }

  .modal-dialog .work-image img {
    height: 600px;
  }

  .modal-dialog .project-title {
    width: 60%;
    padding-top: 0;
  }

  .modal-dialog .project-btn {
    width: 35%;
    position: absolute;
    top: 65%;
    left: 63%;
    display: flex;
    justify-content: space-between;
  }

  .modal-dialog .project-text {
    line-height: 30px;
    margin: 0;
  }

  .modal-dialog .work-tags {
    margin: 0;
  }

  /* About me styles */
  .about {
    background-image:
      url(../assets/about-right-web.png),
      url(../assets/groups.png);
    background-position: top right, 0% 35%;
    background-repeat: no-repeat;
  }

  .about-wrapper {
    width: 70%;
    margin: 0 auto;
  }

  .about-content {
    background-image: none;
    margin: 6em 0 2em;
  }

  .about-content p {
    width: 50%;
  }

  .about-skills-wrapper {
    flex-direction: row;
    width: 100%;
  }

  .about-skill {
    height: 352px;
    width: 100%;
    margin: 10px 10px;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    box-sizing: border-box;
    border-radius: 8px;
  }

  /* Contact form styles */

  .contact {
    width: 100%;
    background-image:
      url(../assets/contact-right.png),
      url(../assets/contact-center.png),
      url(../assets/contact-left.png);
    background-position: 100% 80%, 25% 95%, bottom left;
    background-repeat: no-repeat;
  }

  .contact-form-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    padding: 5em 0 10em;
  }

  .contact-form {
    align-items: flex-start;
  }

  .contact-form input {
    width: 40vw;
  }

  .contact-text {
    align-self: center;
  }

  /* Footer styles */
  .footer {
    padding: 0.5em 0;
  }

  .footer-wrapper {
    border-top: 1px solid #dfe1e6;
  }

  .footer-wrapper .socials {
    padding: 0.2em 0;
  }

  .footer .contact-email {
    display: none;
  }

  .footer-image {
    padding: 0;
  }

  footer .social-link a {
    font-size: 1.5em;
  }
}
