/* Global styles */

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.works,
.about {
  padding: 20px 0;
}

.btn {
  color: #ffffff;
  align-items: center;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:active {
  background: #008552;
  transform: translateY(2px);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Header styles */
.top {
  height: 48px;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.flex-nav ul {
  list-style: none;
}

.logo-text {
  color: #28352f;
  text-decoration: none;
  text-align: center;
  width: 90px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.fa-solid {
  font-size: 20px;
  color: #28352f;
  text-align: center;
  display: inline-block;
}

/* Page styles */

.wrapper {
  display: flex;
  flex-direction: column;
}

/* Hero styles */

.hero {
  width: 100%;
  background-image: url(/assets/hero-image.png);
  background-size: cover;
  background-position: center;
}

.hero-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-style: normal;
  padding: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  max-width: 327px;
}

.hero-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  max-width: 327px;
}

.hero-content span {
  color: #60b47f;
}

.socials {
  margin-top: 25px;
}

.socials ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-link a {
  font-size: 20px;
  color: #172b4d;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  text-align: center;
}

.action {
  display: flex;
  justify-content: center;
}

.action a {
  font-size: 25px;
}

/* Works section styles */

.works-wrapper {
  display: grid;
  grid-template-columns: auto;
  padding: 5px;
  grid-auto-flow: row;
  width: 100%;
  grid-gap: 20px 20px;
  justify-content: center;
  align-items: center;
}

.work-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  max-width: 327px;
}

.work-image {
  max-width: 327px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-image img {
  width: 100%;
  cursor: pointer;
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-tags ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 327px;
  flex: 1; 
}
.social {
  flex: 1;
  margin: 0px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  max-width: 327px;
}

.work-tags a {
  font-weight: 100;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #3a4a42;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.work-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-title h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  height: 57px;
}

.work-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 20px;
}

/* About me styles */
.about {
  border: 1px solid red;
  max-width: 327px;
}

.about-wrapper {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 20px; */
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-content > * {
  margin: 24px 0px;
}

.about-content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  height: 48px;
  color: #172b4d;
}

.about-content p {
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.about-skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}

.about-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 352px;
  width: 100%;
  margin: 10px 0px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
}

.skill-icon {
  padding-bottom: 10px;
}

.about-skill h3 {
  color: #344563;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  padding-bottom: 20px;
}

.skill-social {
  border-radius: 8px;
  background: #ffffff;
}
.skill-social a {
  color: #36b37e;
}
