/* Global styles */

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.works,
.about {
  padding: 20px 0;
}

.btn {
  color: #fff;
  align-items: center;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:active {
  background: #008552;
  transform: translateY(2px);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header styles */
.top {
  height: 48px;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.flex-nav ul {
  list-style: none;
}

.logo-text {
  color: #28352f;
  text-decoration: none;
  text-align: center;
  width: 90px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.fa-solid {
  font-size: 20px;
  color: #28352f;
  text-align: center;
  display: inline-block;
}

/* Page styles */

.wrapper {
  display: flex;
  flex-direction: column;
}

/* Hero styles */

.hero {
  width: 100%;
  background-image: url(./assets/hero-image.png);
  background-size: cover;
  background-position: center;
}

.hero-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-style: normal;
  padding: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.hero-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.hero-content span {
  color: #60b47f;
}

.socials {
  margin-top: 25px;
}

.socials ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-link a {
  font-size: 20px;
  color: #172b4d;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  text-align: center;
}

.action {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.action a {
  font-size: 25px;
}

/* Works section styles */
.works-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #172b4d;
  margin: 24px 0;
  padding: 50px 0;
  background-image: url(./assets/Frame.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.works-header h1 {
  padding-bottom: 30px;
}

.works-wrapper {
  display: grid;
  grid-template-columns: auto;
  padding: 5px;
  grid-auto-flow: row;
  width: 100%;
  grid-gap: 20px 20px;
  justify-content: center;
  align-items: center;
}

.work-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  max-width: 327px;
}

.work-image {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-image img {
  width: 100%;
  cursor: pointer;
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-tags ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-tags {
  display: flex;
  justify-content: space-between;
}

.social {
  margin: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
}

.work-tags a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #3a4a42;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.work-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-title h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  height: 57px;
}

.work-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 20px;
}

/* About me styles */

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:
    url(./assets/about-top-vector.png),
    url(./assets/about-bottom-vector.png);
  background-position: top right, left bottom;
  background-repeat: no-repeat;
}

.about-content > * {
  margin: 24px 0;
}

.about-content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  height: 48px;
  color: #172b4d;
}

.about-content p {
  color: #42526e;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.about-skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}

.about-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 352px;
  width: 100%;
  margin: 10px 0;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
}

.skill-icon {
  padding-bottom: 10px;
}

.about-skill h3 {
  color: #344563;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  padding-bottom: 50px;
}

.skill-social {
  padding: 12px;
  border-radius: 8px;
  background: #fff;
}

.skill-social a {
  color: #36b37e;
}

/* Footer Section */
.footer {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/contact.png);
  background-repeat: no-repeat;
  background-position: 100% 75%;
}

.footer-text {
  padding: 20px;
  min-height: 200px;
  height: auto;
  margin: 10px 5px;
}

.footer-form {
  margin: 10px 5px;
}

.footer-text p {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

form {
  height: auto;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  justify-content: center;
}

.footer-form input {
  margin: 10px 5px;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  width: 327px;
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  padding: 15px 16px;
}

.footer-form textarea {
  margin: 10px 5px;
  background: #fff;
  color: #091e42;
  border: 1px solid #36b37f;
  padding: 12px;
  border-radius: 4px;
  width: 327px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.submit-btn {
  margin: 10px 5px;
}

.footer i {
  color: #505f79;
}

.footer .contact-email {
  height: 127px;
  margin-bottom: 140px;
}

.contact-email h4 {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.footer-image {
  width: 134px;
  margin: 0 auto;
}
